<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041947623736-bk0ejf20i05cd3feqiav0smqr43055j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041947623736-bk0ejf20i05cd3feqiav0smqr43055j3</string>
	<key>API_KEY</key>
	<string>AIzaSyDftALTLwQzx6GKzTLSB_4ACzf4oI0rz3o</string>
	<key>GCM_SENDER_ID</key>
	<string>1041947623736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fullFirebase</string>
	<key>PROJECT_ID</key>
	<string>fullproject-50119</string>
	<key>STORAGE_BUCKET</key>
	<string>fullproject-50119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041947623736:ios:b3c1b4ae48cee5aed801cd</string>
</dict>
</plist>